<div *ngIf="userGroup">
    <div>Titel: {{userGroup.title}}</div>
    <div>Beschreibung: {{userGroup.description}}</div>
    <div>
        Eigentümer: {{isOwner ? "Du": userGroup.owner}}
    </div>
    <div *ngIf="userService.getCurrentUser()">
        <div *ngIf="isOwner">
            <div><button mat-button routerLink="edit">Edit</button></div>
            <div>
                <button mat-button color="warn" (click)="onDelete()">
                    Delete
                </button>
            </div>
            <div
                *ngIf="userGroup.permissionToJoinRequired && userGroup.requestsToJoin.length > 0"
            >
                Beitrittsanfragen ({{userGroup.requestsToJoin.length}}):
                <ul>
                    <li
                        *ngFor="let request of userGroup.requestsToJoin; let i = index"
                    >
                        {{userGroup.requestUsernames[i]}} -
                        <button mat-button (click)="onAccept(request)">
                            Annehmen
                        </button>
                        <button
                            mat-button
                            color="warn"
                            (click)="onReject(request)"
                        >
                            Ablehnen
                        </button>
                    </li>
                </ul>
            </div>
        </div>
        <div *ngIf="!isOwner">
            <div *ngIf="!hasJoined && !userGroup.permissionToJoinRequired">
                <button mat-button (click)="onJoin()">Beitreten</button>
            </div>
            <div
                *ngIf="!hasJoined && userGroup.permissionToJoinRequired && !hasRequested"
            >
                <button mat-button (click)="onRequest()">
                    Beitritt anfragen
                </button>
            </div>
            <div
                *ngIf="!hasJoined && userGroup.permissionToJoinRequired && hasRequested"
            >
                <button mat-button (click)="onCancelRequest()">
                    Beitrittsanfrage zurückziehen
                </button>
            </div>
            <div *ngIf="hasJoined">
                <button mat-button (click)="onLeave()">Verlassen</button>
            </div>
        </div>
    </div>
    <!--
    <div *ngIf="canInviteUsers">
        <a routerLink="edit">Editieren</a>
        <form (ngSubmit)="onSubmit(f)" #f="ngForm">
            <mat-form-field>
                <mat-label for="invitee">Benutzer</mat-label>
                <input
                    matInput
                    ngModel
                    type="text"
                    name="invitee"
                    id="invitee"
                    required
                    #username="ngModel"
                />
            </mat-form-field>
            <button mat-button [disabled]="f.invalid" type="submit">
                Einladen
            </button>
        </form>
    </div>

    <div *ngIf="isInvited">
        <a routerLink="." (click)="acceptInvitation()">Einladung akzeptieren</a>
    </div>
    <div *ngIf="isInvited">
        <a routerLink="." (click)="removeInvitation()">Einladung verwerfen</a>
    </div>
    <div *ngIf="isMember">
        <a routerLink="." (click)="leaveGroup()">Gruppe verlassen</a>
    </div>
    <div *ngIf="!isMember && !isInvited && !isOwner">
        <a routerLink="." (click)="joinGroup()">Gruppe beitreten</a>
    </div>
--></div>
