<div *ngIf="userGroup">
    <div>Titel: {{userGroup.title}}</div>
    <div>Beschreibung: {{userGroup.description}}</div>
    <div>
        Eigentümer: {{isOwner ? "Du": userGroup.owner}}
    </div>
    <div *ngIf="userService.getCurrentUser()">
        <div>
            <div *ngIf="canEdit"><button mat-button routerLink="edit">Editieren</button></div>
            <div *ngIf="isOwner"><button mat-button color="warn" (click)="onDelete()">Löschen</button></div>
            <div *ngIf="userGroup.permissionToJoinRequired && userGroup.requestsToJoin.length > 0">
                Beitrittsanfragen ({{userGroup.requestsToJoin.length}}):
                <ul>
                    <li
                        *ngFor="let request of userGroup.requestsToJoin; let i = index"
                    >
                        {{userGroup.requestUsernames[i]}} -
                        <button mat-button (click)="onAccept(request)">
                            Annehmen
                        </button>
                        <button
                            mat-button
                            color="warn"
                            (click)="onReject(request)"
                        >
                            Ablehnen
                        </button>
                    </li>
                </ul>
            </div>
        </div>
        <div *ngIf="!isOwner">
            <div *ngIf="!hasJoined && !userGroup.permissionToJoinRequired">
                <button mat-button (click)="onJoin()">Beitreten</button>
            </div>
            <div
                *ngIf="!hasJoined && userGroup.permissionToJoinRequired && !hasRequested"
            >
                <button mat-button (click)="onRequest()">
                    Beitritt anfragen
                </button>
            </div>
            <div
                *ngIf="!hasJoined && userGroup.permissionToJoinRequired && hasRequested"
            >
                <button mat-button (click)="onCancelRequest()">
                    Beitrittsanfrage zurückziehen
                </button>
            </div>
            <div *ngIf="hasJoined">
                <button mat-button (click)="onLeave()">Verlassen</button>
            </div>
        </div>
    </div>
</div>
