<div>
    Eigene Gruppen:
    <div *ngIf="ownedGroups.length == 0">Keine</div>
    <div *ngIf="ownedGroups.length > 0">
        <ul>
            <li *ngFor="let group of ownedGroups">
                <a routerLink="{{group.id}}">{{group.title}}</a>
            </li>
        </ul>
    </div>
    <hr />
    Beigetretene Gruppen:
    <div *ngIf="joinedGroups.length == 0">Keine</div>
    <div *ngIf="joinedGroups.length > 0">
        <ul>
            <li *ngFor="let group of joinedGroups">
                <a routerLink="{{group.id}}">{{group.title}}</a>
            </li>
        </ul>
    </div>
    <hr />
    Andere Gruppen:
    <div *ngIf="otherGroups.length == 0">Keine</div>
    <div *ngIf="otherGroups.length > 0">
        <ul>
            <li *ngFor="let group of otherGroups">
                <a routerLink="{{group.id}}">{{group.title}}</a>
            </li>
        </ul>
    </div>
    <div *ngIf="userService.getCurrentUser()">
        <hr />
        <a routerLink="new">Neue Gruppe erstellen</a>
    </div>
</div>
<div>
    <router-outlet></router-outlet>
</div>
