<form [formGroup]="groupForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
        <mat-label>Title:</mat-label>
        <input matInput type="text" formControlName="title" />
    </mat-form-field>
    <mat-form-field>
        <mat-label>Beschreibung:</mat-label>
        <textarea matInput formControlName="description"></textarea>
    </mat-form-field>
    <p>Sichtbarkeit:</p>
    <mat-checkbox formControlName="registrationRequired">
        Nur für registrierte Benutzer
    </mat-checkbox>
    <mat-checkbox formControlName="visibleToFriends">
        Für alle Freunde sichtbar
    </mat-checkbox>
    <mat-checkbox formControlName="invitationRequired">
        Einladung benötigt
    </mat-checkbox>
    <p>Sonstige Einstellungen:</p>
    <mat-checkbox formControlName="permissionToJoinRequired">
        Beitritt benötigt Bestätigung
    </mat-checkbox>
    <hr />
    <button mat-button color="primary" type="submit">Speichern</button>
</form>
<div>
    <div *ngIf="hasMembers">
        Mitglieder:
        <ul>
            <li *ngFor="let member of selectedGroup?.memberUsernames; let i = index;">
                {{member}} <button mat-button color="warn" (click)="onRemoveMember(i)">X</button>
            </li>
        </ul>
    </div>
    <div *ngIf="hasRequestors">
        Anfragen:
        <ul>
            <li *ngFor="let requestor of selectedGroup?.requestUsernames; let i = index;">
                {{requestor}} <button mat-button color="warn" (click)="onRemoveRequestor(i)">X</button>
            </li>
        </ul>
    </div>
    <div *ngIf="hasInvitees">
        Eingeladene Benutzer:
        <ul>
            <li *ngFor="let invitee of selectedGroup?.inviteeUsernames; let i = index;">
                {{invitee}} <button mat-button color="warn" (click)="onRemoveInvitee(i)">X</button>
            </li>
        </ul>
    </div>
    <div *ngIf="hasExcludees">
        Ausgeschlossene Benutzer:
        <ul>
            <li *ngFor="let excludee of selectedGroup?.excludeeUsernames; let i = index;">
                {{excludee}} <button mat-button color="warn" (click)="onRemoveExcludee(i)">X</button>
            </li>
        </ul>
    </div>
</div>
<mat-form-field>
    <mat-label>Benutzer einladen:</mat-label>
    <input matInput type="text" placeholder="Benutzername" #newInvitee />
    <button
        mat-button
        type="submit"
        (click)="onInvite(newInvitee.value);newInvitee.value='';"
    >
        Einladen
    </button>
</mat-form-field>
<mat-form-field>
    <mat-label>Benutzer blockieren:</mat-label>
    <input matInput type="text" placeholder="Benutzername" #newExcludee />
    <button
        mat-button
        type="submit"
        (click)="onExclude(newExcludee.value);newExcludee.value='';"
    >
        Blockieren
    </button>
</mat-form-field>
