<div *ngIf="selectedGroup">
    <form [formGroup]="groupForm" (ngSubmit)="onSubmit()" *ngIf="canEdit">
        <mat-form-field>
            <mat-label>Title:</mat-label>
            <input matInput type="text" formControlName="title" />
        </mat-form-field>
        <mat-form-field>
            <mat-label>Beschreibung:</mat-label>
            <textarea matInput formControlName="description"></textarea>
        </mat-form-field>
        <p>Sichtbarkeit:</p>
        <mat-checkbox formControlName="registrationRequired">
            Nur für registrierte Benutzer
        </mat-checkbox>
        <mat-checkbox formControlName="visibleToFriends">
            Für alle Freunde sichtbar
        </mat-checkbox>
        <mat-checkbox formControlName="invitationRequired">
            Einladung benötigt
        </mat-checkbox>
        <p>Sonstige Einstellungen:</p>
        <mat-checkbox formControlName="permissionToJoinRequired">
            Beitritt benötigt Bestätigung
        </mat-checkbox>
        <hr />
        <button mat-button color="primary" type="submit">Speichern</button>
    </form>
    <div *ngIf="canManage">
        <div>
            <table>
                <tr>
                    <th>Username</th>
                    <th>Status</th>
                    <th>Aktion</th>
                    <th><span *ngIf="isOwner">Gruppe Editieren</span></th>
                    <th><span *ngIf="isOwner">Benutzer verwalten</span></th>
                </tr>
                <tr
                    *ngFor="let member of selectedGroup?.memberUsernames; let i = index;"
                >
                    <td>{{member}}</td>
                    <td>Mitglied</td>
                    <td>
                        <button
                            *ngIf="canManage"
                            mat-button
                            color="warn"
                            (click)="onRemoveMember(i)"
                        >
                            X
                        </button>
                    </td>
                    <td>
                        <mat-checkbox
                            (click)="onToggleEdit(i, edit.checked)"
                            [checked]="isAbleToEdit(selectedGroup.members[i])"
                            *ngIf="isOwner"
                            #edit
                        ></mat-checkbox>
                    </td>
                    <td>
                        <mat-checkbox
                            (click)="onToggleManage(i, manage.checked)"
                            [checked]="isAbleToManage(selectedGroup.members[i])"
                            *ngIf="isOwner"
                            #manage
                        ></mat-checkbox>
                    </td>
                </tr>
                <tr
                    *ngFor="let requestor of selectedGroup?.requestUsernames; let i = index;"
                >
                    <td>{{requestor}}</td>
                    <td>Beitrittsanfrage</td>
                    <td>
                        <button
                            *ngIf="canManage"
                            mat-button
                            color="primary"
                            (click)="onAcceptRequestor(i)"
                        >
                            &check;
                        </button>
                        <button
                            *ngIf="canManage"
                            mat-button
                            color="warn"
                            (click)="onRemoveRequestor(i)"
                        >
                            X
                        </button>
                    </td>
                    <td></td>
                    <td></td>
                </tr>
                <tr
                    *ngFor="let invitee of selectedGroup?.inviteeUsernames; let i = index;"
                >
                    <td>{{invitee}}</td>
                    <td>Eingeladen</td>
                    <td>
                        <button
                            *ngIf="canManage"
                            mat-button
                            color="warn"
                            (click)="onRemoveInvitee(i)"
                        >
                            X
                        </button>
                    </td>
                    <td></td>
                    <td></td>
                </tr>
                <tr
                    *ngFor="let excludee of selectedGroup?.excludeeUsernames; let i = index;"
                >
                    <td>{{excludee}}</td>
                    <td>Ausgeschlossen</td>
                    <td>
                        <button
                            *ngIf="canManage"
                            mat-button
                            color="warn"
                            (click)="onRemoveExcludee(i)"
                        >
                            X
                        </button>
                    </td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>

        <div *ngIf="canManage">
            <mat-form-field>
                <mat-label>Benutzer einladen:</mat-label>
                <input
                    matInput
                    type="text"
                    placeholder="Benutzername"
                    #newInvitee
                />
                <button
                    mat-button
                    type="submit"
                    (click)="onInvite(newInvitee.value);newInvitee.value='';"
                >
                    Einladen
                </button>
            </mat-form-field>
        </div>
        <div *ngIf="canManage">
            <mat-form-field>
                <mat-label>Benutzer blockieren:</mat-label>
                <input
                    matInput
                    type="text"
                    placeholder="Benutzername"
                    #newExcludee
                />
                <button
                    mat-button
                    type="submit"
                    (click)="onExclude(newExcludee.value);newExcludee.value='';"
                >
                    Blockieren
                </button>
            </mat-form-field>
        </div>
    </div>
</div>
